body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #091032;
    color: #FFDC78;
    padding: 23px;
}

nav {
    background-color: #091032;
    padding: 13px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 13px;
}

nav ul li a {
    text-decoration: none;
    color: #FFDC78;
}

section {
    padding: 23px;
}

footer {
    background-color: #091032;
    color: #FFDC78;
    padding: 13px;
    text-align: center;
}